.ads-carousel-container {
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background: #fff;
}

.ads-carousel-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.ads-carousel-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  background: rgba(165, 165, 165, 0.5);
  padding: 10px 15px;
  border-radius: 10px;
}

.ads-carousel-info h3 {
  margin: 0;
  font-size: 18px;
}

.ads-carousel-info p {
  margin: 5px 0 0 0;
  font-size: 14px;
}
